<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>    
    <title>CS pizza</title>
</head>
<body style="height:100%">
   
    {% if Category %}  <!--hide when not logged in-->

<nav class="navbar navbar-light navbar-expand-lg bg-light">
<a class="navbar-brand ">Pinochio-s Pizza</a>
	<ul class="navbar-nav ml-auto">	
		<li class="nav-item"><a class="nav-link" href="#">{{user.username}}</a></li>
		<li class="nav-item">
            {% if user.is_superuser %}
            <a class="nav-link"href="{% url 'orders_manager' user Order_number %}">Orders manager</a> 
            {% endif %}
            {% if not user.is_superuser %}
            <a  class="nav-link"href="{% url 'my_orders' Order_number %}">My orders</a> 
	
            {% endif %}
</li>

		<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> Log out&nbsp;</a></li>
	</ul>
</nav>
    {% else %}
	<nav class="navbar navbar-light navbar-expand-lg bg-light">
<a class="navbar-brand ">Pinochio-s Pizza</a>
	<ul class="navbar-nav ml-auto">	
	<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
	<li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">Register</a></li>
	</ul></nav>
{% endif %}
<div class="text-center m-4">
    <img id="pi" src="{% static 'pi.png' %}">
</div><!-- end image div -->
<div class="row">
<div class="col-md-12 mb-3">
    <div class="list-inline text-center ">
        {% for category in Category %} 
       <div class="list-inline-item"> 
	{% ifequal Active_category category|stringformat:"s"  %}
		<a href="{% url 'menu' category  %}" ><button class="btn btn-info btn-lg ">{{category}}</button>
		</a>
	{% else %}
		<a href="{% url 'menu' category  %}" ><button class="btn btn-light ">{{category}}</button>
		</a>
	{% endifequal %}
</div>
        {% endfor %} 
    </div>
</div>
</div><!--end row-->
    <div id='center_box' class='w-60   mx-auto  '>
        {% block body%}
        {% endblock %}
    </div>

	
    <div id='checkout' class="list-group p-3 rounded text-right">
    {% if Category %}  <!--hide when not logged in-->
        <h3 class=' text-center h2 text-right text-dark   m-3 '>CHECKOUT</h3>
        <ul >
            <hr class='bg-info'>
            {% for check_cat in Checkout_category %}
                <li class='text-info text-right pr-3'>{{check_cat|cut:"("|cut:")"|cut:","|cut:"'"}}</li>
                {% for row in Checkout %}
                {% if row.category == check_cat|cut:"("|cut:")"|cut:","|cut:"'"  %}
                <li class='pr-3 text-muted'>{{row}}&nbsp;<a href="{% url 'delete' row.category row.name row.price %}"><img class='plus rounded' src="{% static 'minus.png' %}"></a></li>
                {% endif %}
                {% endfor %}
            {% endfor %} 
            <hr class='bg-info'>
            <li class='text-info text-right pr-3 '><h1><small class='text-white'>Total</small> ${{Total|floatformat:2}}</h1></li>
        </ul>
    <a id='place_order'  href="{% url 'my_orders' Order_number %}"><div class='bg-info   form-control w-40 rounded p-1  ml-auto mr-3 text-center text-white '><h4>Place order</h4></div></a>
    {% endif %}
    </div>
</body>
</html>
